@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .image1row0,
  .style1 {
    display: flex;
    height: 107px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhfawcjp8a7w1k.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-top: 0;
    flex-direction: column;
    margin-left: 0;
    width: 201px
  }
  .image1row0 {
    margin-left: 3px;
    width: 372px
  }
  .style8 {
    color: #fff;
    text-align: right;
    font-family: ebrima,serif;
    font-size: .3125em;
    margin-left: 0;
    margin-top: 100px;
    height: 4px
  }
  .style2 {
    background-image: url(https://designresources.assets.yotako.io/9lhfawcjp8a7wxd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 13px;
    width: 287px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style3 {
    color: #487642;
    font-family: gabriola,serif;
    font-size: 1.25em;
    margin-left: 96px;
    margin-top: 18px;
    height: 13px
  }
  .style4,
  .style5,
  .style6,
  .style7 {
    color: #2e3e90;
    text-align: center;
    font-family: gabriola,serif;
    font-size: .625em;
    margin-left: 84px;
    margin-top: 23px;
    height: 9px
  }
  .style4,
  .style5,
  .style6 {
    text-align: right;
    font-size: .5em;
    margin-left: 131px;
    margin-top: 5px;
    height: 5px
  }
  .style4,
  .style5 {
    color: #a22b2b;
    text-align: center;
    font-size: .6875em;
    margin-left: 53px;
    margin-top: 9px;
    height: 11px
  }
  .style5 {
    color: #2e3e90;
    text-align: right;
    font-size: .625em;
    margin-left: 155px;
    margin-top: 5px;
    height: 8px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .image1row0,
  .style1 {
    display: flex;
    height: 219px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhfawcjp8a7w1k.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-top: 0;
    flex-direction: column;
    margin-left: 0;
    width: 412px
  }
  .image1row0 {
    margin-left: 6px;
    width: 762px
  }
  .style8 {
    color: #fff;
    text-align: right;
    font-family: ebrima,serif;
    font-size: .64em;
    margin-left: 0;
    margin-top: 205px;
    height: 8px
  }
  .style2 {
    background-image: url(https://designresources.assets.yotako.io/9lhfawcjp8a7wxd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 27px;
    width: 588px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style3 {
    color: #487642;
    font-family: gabriola,serif;
    font-size: 2.56em;
    margin-left: 197px;
    margin-top: 37px;
    height: 27px
  }
  .style4,
  .style5,
  .style6,
  .style7 {
    color: #2e3e90;
    text-align: center;
    font-family: gabriola,serif;
    font-size: 1.28em;
    margin-left: 172px;
    margin-top: 47px;
    height: 18px
  }
  .style4,
  .style5,
  .style6 {
    text-align: right;
    font-size: 1.024em;
    margin-left: 268px;
    margin-top: 10px;
    height: 10px
  }
  .style4,
  .style5 {
    color: #a22b2b;
    text-align: center;
    font-size: 1.408em;
    margin-left: 109px;
    margin-top: 18px;
    height: 23px
  }
  .style5 {
    color: #2e3e90;
    text-align: right;
    font-size: 1.28em;
    margin-left: 317px;
    margin-top: 10px;
    height: 16px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .image1row0,
  .style1 {
    display: flex;
    height: 263px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhfawcjp8a7w1k.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-top: 0;
    flex-direction: column;
    margin-left: 0;
    width: 493px
  }
  .image1row0 {
    margin-left: 7px;
    width: 913px
  }
  .style8 {
    color: #fff;
    text-align: right;
    font-family: ebrima,serif;
    font-size: .7666666666666666em;
    margin-left: 0;
    margin-top: 245px;
    height: 10px
  }
  .style2 {
    background-image: url(https://designresources.assets.yotako.io/9lhfawcjp8a7wxd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 32px;
    width: 704px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style3 {
    color: #487642;
    font-family: gabriola,serif;
    font-size: 3.0666666666666664em;
    margin-left: 236px;
    margin-top: 44px;
    height: 32px
  }
  .style4,
  .style5,
  .style6,
  .style7 {
    color: #2e3e90;
    text-align: center;
    font-family: gabriola,serif;
    font-size: 1.5333333333333332em;
    margin-left: 206px;
    margin-top: 56px;
    height: 22px
  }
  .style4,
  .style5,
  .style6 {
    text-align: right;
    font-size: 1.2266666666666666em;
    margin-left: 321px;
    margin-top: 12px;
    height: 12px
  }
  .style4,
  .style5 {
    color: #a22b2b;
    text-align: center;
    font-size: 1.6866666666666665em;
    margin-left: 130px;
    margin-top: 22px;
    height: 27px
  }
  .style5 {
    color: #2e3e90;
    text-align: right;
    font-size: 1.5333333333333332em;
    margin-left: 380px;
    margin-top: 12px;
    height: 20px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .image1row0,
  .style1 {
    display: flex;
    height: 342px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhfawcjp8a7w1k.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-top: 0;
    flex-direction: column;
    margin-left: 0;
    width: 643px
  }
  .image1row0 {
    margin-left: 10px;
    width: 1190px
  }
  .style8 {
    color: #fff;
    text-align: right;
    font-family: ebrima,serif;
    font-size: 1em;
    margin-left: 0;
    margin-top: 320px;
    height: 13px
  }
  .style2 {
    background-image: url(https://designresources.assets.yotako.io/9lhfawcjp8a7wxd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 42px;
    width: 918px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style3 {
    color: #487642;
    font-family: gabriola,serif;
    font-size: 4em;
    margin-left: 307px;
    margin-top: 58px;
    height: 42px
  }
  .style4,
  .style5,
  .style6,
  .style7 {
    color: #2e3e90;
    text-align: center;
    font-family: gabriola,serif;
    font-size: 2em;
    margin-left: 269px;
    margin-top: 74px;
    height: 29px
  }
  .style4,
  .style5,
  .style6 {
    text-align: right;
    font-size: 1.6em;
    margin-left: 419px;
    margin-top: 16px;
    height: 16px
  }
  .style4,
  .style5 {
    color: #a22b2b;
    text-align: center;
    font-size: 2.2em;
    margin-left: 170px;
    margin-top: 29px;
    height: 35px
  }
  .style5 {
    color: #2e3e90;
    text-align: right;
    font-size: 2em;
    margin-left: 496px;
    margin-top: 16px;
    height: 26px
  }
}